::-webkit-scrollbar {
	background-color: var(--primary-dark);
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--purple-light);
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

.spacer {
	flex-grow: 1;
}
