#wrapper1 {
	height: calc(100vh - var(--nav-height));
}

.backdrop {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: url(https://i.imgur.com/rL39c4x.png);
	background-size: cover;
	position: fixed;
	overflow: hidden;
}

.contentWrapper {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--homeOverlayColor);
	text-align: center;
	overflow: hidden;
}

.title,
.tagline,
.downIcon {
	color: var(--textColor);
}

.logo {
	width: 900px;
	margin-top: 9rem;
}

.title {
	font-size: 4rem;
	margin: 1rem;
	font-weight: 300;
	font-family: "Shadows Into Light", sans-serif;
}

.tagline {
	margin: 0;
	font-weight: 200;
	font-family: "Roboto", sans-serif;
}

.downIcon {
	margin-top: 10rem;
	font-size: 2rem;
}
.downIcon:hover {
	cursor: pointer;
}
